body {
  background-color: #151B26;
  color: rgb(240, 245, 248) ;
  font-family: sans-serif;
  margin: 30px;
  text-align: justify;
}



ul {
  list-style: none;
}

a {
  color: #5790AB;
  cursor: pointer;
  text-decoration: none;
  
}

a:active {
  cursor: progress;
}

/*estilizando o cabeçalho*/

.logo {
  content:0px;
  border: 5px;
  margin-left: 1px;
  margin-bottom: 1px;
}

.menu-iten{
  display: inline-block;
  width: 20%;
}

.submenu{
  position: absolute;
  display: none;
  width: 100px;
}

.material-symbols-outlined {
  margin-left: 200px;
  cursor: pointer;
  color: #5790AB;
}

.escondendo-submenu:hover .submenu {
  display: block;
}

/* FIm estilizando o cabeçalho*/

/*Imagens*/

.sessão-imagens{
  margin: 0 auto;
  height: 600px;
  width: 800px;
  overflow: hidden;
  animation-name: scrollando imagens;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-duration: alternate;
}

.slides{
  height: 600px;
  width: 400%;
  display: flex;
}

.slides input{
  display: none;
}

.slides__img {
  width: 25%;
  position: relative;
}

.slides__img img {
  width: 800px;
}

.nav-manual {
  position: absolute;
  width: 800px;
  display: flex;
  justify-content: center;
  margin-top: -100px;
}

.manual-rb{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}

.manual-rb:not(:last-child) {
  margin-right: 50px;
}

.manual-rb:hover{
  background-color: #ffffff;
}

#rb1:checked ~ .primeira{
  margin-left: 0;
}

#rb2:checked ~ .primeira{
  margin-left: -800px;
  transition: 2s;
}

#rb3:checked ~ .primeira{
  margin-left: -1600px;
  transition: 2s;
}

.bdns div{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}

.bdns {
  position: absolute;
  width: 800px;
  margin-top: -100px;
  display: flex;
  justify-content: center;
}

.bdns div:not(:last-child){
  margin-right: 50px;
}

/*Fim das imagens*/